@charset "UTF-8";

.lt_main .cat_left {
    width: 90px;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    /*background-color: pink;*/
}

.lt_main .cat_left a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #9a63ff;
    color: #5f522c;
    border-right: 2px solid mediumvioletred;
    border-bottom: 2px solid mediumvioletred;
    font-weight: 700;
    font-family:"kaiti";
    font-size: 20px;
}

.lt_main .cat_left li.now a {
    background-color: #fff;
    border-right-color: transparent;
}

.cat_right {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.lt_main .cat_right li {
    width: 33.33%;
    float: left;
}

.lt_main .cat_right img {
    width: 62px;
    height: 62px;
    margin: 0 auto;
}

.lt_main .cat_right p {
    text-align: center;
}
